/* ------------- MENU ------------------- */
.menu_container{
    width:100%;
    min-height: 80vh;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:1.5rem;
    align-items:center;
   
}
.menu_con_sub{
    text-align: center;
    margin:20px;
}
.menu-text h1{
    font-size:var(--big-font);
    color:var(--main-color);
}
.menu_con_sub .menu-text h1{
    font-size: 3rem;
}
.menu-text h2{
    font-size:var(--h2-font);
    margin:1rem 0 2rem;
}
.menu_con_sub .menu-text h2{
    font-size:1.5rem;
    margin:.5rem 0;
}
.menu-text h3{
    font-size:var(--h3-font);
}
.main-menu{
    height:80%;
    margin-bottom: 20px;
    position: relative;
    overflow:hidden;
}
.menu_con_sub .main-menu{
    margin-bottom: 5px
}


.menu_container img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;;
}
.list-images{
    height:20%;
    width:100%;
    display:flex;
    justify-content: space-between;
}
.list-images div{
    flex:1;
    padding:5px;
}

