
@import url('https://fonts.googleapis.com/css2?family=REM:wght@500&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    scroll-behavior: smooth;
    list-style:none;
    text-decoration: none;
    font-family: "REM";
}
:root{
    --main-color:#fd4646;
    --text-color:#171427;
    --bg-color:#1e1c2a;
}

img{
    width:100%;
}
body{
    color:var(--text-color);
     background:#fff;
}
.container{
    max-width: 1068px;
    margin:auto;
    width:100%;
}
section{
    padding:4rem 0 3rem;
}
/* ----- Header -------- */
header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background: var(--bg-color);
    /* box-shadow: 0 1px 4px hsl(0 4% 15% / 10%); */
    z-index: 9;
}
.nav{
     display:flex;
     align-items: center;
     justify-content: space-between;
     padding:20px 0;
}
.logo{
    font-size: 2rem;
    color:#ff702a;
    font-weight: 400;
}
#cart-icon{
    font-size: 2.5rem;
    color:#ff702a;
    cursor:pointer;
}
/* ---- Cart ---- */
.cart{
    position: fixed;
    top:0;
    right:-100%;
    width:360px;
    min-height: 100vh;
    padding:20px; 
    background: #fff;
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition:.5s;
    
    
}  
.cart-items{
    height:450px;
    overflow:auto;
    overflow-x:hidden;

} 
.cart.active{
    right:0;
}
.cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top:2rem;
    color:#ff702a;
}

.cart-box{
    display:grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap:1rem;
    margin-top: 1rem;

}
.cart-img{
    width:100px;
    height: 120px;
    object-fit: contain;
    padding:10px;
}
.detail-box{
    display:grid;
    row-gap: .5rem;
}
.cart-product-title{
    font-size:1rem;
    text-transform: uppercase;
}
.cart-price{
    font-weight: 500;
}
.cart-quantity{
    border:1px solid var(--text-color);
    outline-color: var(--main-color);
    width:2.4rem;
    text-align: center;
    font-size: 1rem;
}
.cart-remove{
    font-size: 24px;
    color: var(--main-color);
    cursor: pointer;
}
.total{
    display:flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--text-color);
}
.total-title{
    font-size: 1rem;
    font-weight: 600;
}
.total-price{
    margin-left: .5rem;
}
.btn-buy{
    display:flex;
    margin:1.5rem auto 0 auto;
    padding:12px 20px;
    border:none;
    background:#1e1c2a;
    color:#fff;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.btn-buy:hover{
    background: #ff702a;
    color:#1e1c2a;
}
#close-cart{
    position:absolute;
    top:1rem;
    right:.8rem;
    font-size: 2rem;
    color:var(--text-color);
    cursor: pointer;
}


/*------------ Shop content ------------*/
.section-title{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
    color:#ff702a;
}
.shop{
    margin-top: 2rem;
}
.shop-content{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(220px,auto));
    gap:1.5rem;
}
.product-box{
    position:relative;
}
.product-box:hover{
    padding:10px;
    border:1px solid var(--text-color);
    transition: .4s;
}
.product-img{
    width:100%;
    height:80%;
    margin-bottom: -.5px;
}
.product-title{
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: .5rem;
}
.price{
    font-weight: 500;
}
.add-cart{
    position:absolute;
    bottom:0;
    right:0;
    background: var(--text-color);
    color:#fff;
    padding:10px;
    cursor:pointer;
}
.add-cart:hover{
    background: hsl(249,32%,17%);
}
/* .product-box{
    border-radius: 10px;
    overflow:hidden;
} */

.go_top{
    position:fixed;
    width:50px;
    height:50px;
    background:#ff702a;
    bottom:40px;
    right:50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color:white;
    font-size: 22px;
    border-radius: 50%;
}
.go_top a{
    font-size: 40px;
}
/* ----------  FOOTER ------------- */
.main{
    display:flex;
    flex-wrap: wrap;
    margin:0 100px;;

}

.footer{
    padding: 10px 10%;
    
}

.col{
    width:25%;
}
.col h4{
    font-size:1.2rem;
    color:orangered;
    margin-bottom: 25px;
    position: relative;
    text-transform: uppercase;
}
.col h4:before{
    content:"";
    position:absolute;
    height:2px;
    width:50px;
    left:0;
    bottom:-8px;
    background:#ee8652;
}
.col h4.none{
    visibility:hidden;
}
.col ul li:not(last-child){
    margin-bottom: 15px;;
}
.col ul li {
    list-style-type: none;
}
.col ul li a{
    color:#fff;
    font-size: 1.1rem;
    display:block;
    text-transform: capitalize;
    transition:.4s;
    text-decoration: none;
}
.col ul li a:hover{
    color:rgb;
    transform:translateY(-12px)
}
.col .social{
    width:220px;
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.col .social a{
    height:40px;
    width:40px;
    background:#ee8652;
    color:#1e1c2a;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    font-size:1.5rem;
    border-radius: 50%;
    transition:.4s;
    text-decoration: none;
}
.col .social a:hover{
    transform:scale(1.2);
    color:rgb(247, 238, 238);;
    background:#ee8652;
}
#contact{
    background:#2b2640;

}



/* ----------- Responsive ------------ */
@media (max-width: 1080px) {
    .nav{
        padding:15px;
    }
    section{
        padding:3rem 0 2rem;
    }
    .container{
        margin:0 auto;
        width:90%;
    }
    .shop{
        margin-top: 2rem !important;
    }
}
@media (max-width: 400px){
    .nav{
        padding: 11px;
    }
    .logo{
        font-size: 1rem;
    }
    .cart{
        width:320px;
    }
}
@media (max-width: 360px){
    .shop{
        margin-top: 1rem !important;
    }
    .cart{
        width:280px;
    }
}

/* CSS for desktop screens */
@media only screen and (min-width: 768px) {
    .footer {
      display: flex;
      justify-content: center;
      padding: 20px;
      
    }
  
    .main {
      display: flex;
      justify-content: space-between;
      max-width: 1200px;
      width: 100%;
    }
  
    .col {
      flex-basis: 25%;
    }
  
    .col h4 {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }
  
    .col ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  
    .col ul li {
      margin-bottom: 5px;
    }
  
    .social {
      display: flex;
    }
  
    .social a {
      margin-right: 10px;
      margin-top: 10px;
      color: #333;
    }
  }
  
  /* CSS for mobile screens */
  @media only screen and (max-width: 767px) {
    .footer {
      padding: 20px;
      
    }
  
    .main {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .col {
      margin-bottom: 20px;
    }
  
    .col h4 {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 10px;
    }
  
    .col.none {
      display: none;
    }
  
    .social {
      margin-top: 10px;
    }
  
    .social a {
      margin-top:10px;
      margin-right: 10px;
    }
  }
  